body {
    font-family: sans-serif;
    font-size: 12px;
    


    button {
        border: none;
        color: white;
        padding: 3px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        width: 51px;

        &.button_ok {
            background-color: green;
        }
        &.button_fail {
            background-color: darkred;
        }
        &.button_ignore {
            background-color: bisque;
            color: black;
        }
    }

    .description {
        font-style: italic;
        color: grey;
    }

    div.variables {
        background-color: lightgrey;
        width: 100%;
    }

    div.name {
        /*dd*/
    }

    .type {
        font-style: italic;
        color: grey;
    }

    .teststep_table {
        border-spacing: 0px;
        width: 95vw;
        th {
            font-weight: bold;
        }
        tr {
            &:hover {
                background-color: rgb(220, 246, 255);
            }
            &.active {
                background-color: rgb(220, 246, 255);
            }
        }
        td {
            padding: 5px 10px;
            border-bottom: 1px solid lightgrey;
        }

        td:nth-child(1) {
            width: 30%;
        }
        td:nth-child(2) {
            width: 30%;
        }
        td:nth-child(3) {
            width: 30%;
        }
        td:nth-child(4) {
            width: 10%;
        }
    }
    
}

