body {
  font-family: "Red Hat Display";
  font-size: 14px;
  margin-left: 20px;
  /* Collection name Tooltip */
  /* Collection & Teststep description Tooltip */
  /* Type Tooltip */
}
body [name-tooltip] {
  position: sticky;
  left: 10px;
  cursor: pointer;
}
body [name-tooltip]:before {
  content: attr(name-tooltip);
  position: absolute;
  opacity: 0;
  width: -moz-max-content;
  width: max-content;
  top: -5px;
  left: 105%;
  padding: 5px 10px;
  background-color: black;
  border-radius: 0.25em;
  color: white;
  text-align: center;
  transition: 0.2s;
}
body [name-tooltip]:hover:before {
  opacity: 1;
}
body [title-description-tooltip] {
  position: sticky;
  left: 10px;
  cursor: pointer;
}
body [title-description-tooltip]:before {
  content: attr(title-description-tooltip);
  position: absolute;
  opacity: 0;
  width: -moz-max-content;
  width: max-content;
  top: -5px;
  left: 105%;
  padding: 5px 10px;
  background-color: black;
  border-radius: 0.25em;
  color: white;
  text-align: center;
  transition: 0.2s;
}
body [title-description-tooltip]:hover:before {
  opacity: 1;
}
body [type-tooltip] {
  position: sticky;
  left: 10px;
  cursor: pointer;
}
body [type-tooltip]:before {
  content: attr(type-tooltip);
  position: absolute;
  opacity: 0;
  width: -moz-max-content;
  width: max-content;
  top: -5px;
  left: 105%;
  padding: 5px 10px;
  background-color: grey;
  border-radius: 0.25em;
  color: white;
  text-align: center;
  transition: 0.2s;
}
body [type-tooltip]:hover:before {
  opacity: 1;
}
body button {
  border: none;
  color: black;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 51px;
}
body button.button_ok {
  background-color: green;
  color: white;
}
body button.button_fail {
  background-color: darkred;
  color: white;
}
body button.button_ignore {
  background-color: bisque;
}
body a.external {
  background-image: url("/static/assets/image/external_link_icon.png");
  width: 14px;
  height: 14px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
body .collection {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
body .cdescription {
  font-style: italic;
  color: grey;
  font-size: small;
}
body .description {
  font-style: italic;
  color: grey;
}
body div.variables {
  width: 96.5%;
  font-size: initial;
  line-height: 400%;
}
body div.variables span.variable {
  background: #e9f3fc;
  padding: 10px;
  border-radius: 20px;
}
body div.name {
  /*dd*/
}
body .type {
  font-style: italic;
  color: black;
  font-size: medium;
  border-bottom: 1px dotted black;
}
body .round_table {
  border: 1px solid #dcdcde;
  border-radius: 6px;
  overflow: auto;
}
body .teststep_table {
  border-spacing: 0px;
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5;
  /* Teststep description Tooltip */
}
body .teststep_table th {
  font-weight: bold;
  text-align: left;
  font-weight: 500;
  padding: 10px 10px;
  background-color: #fbfafd;
  border-bottom: 1px solid #dcdcdc;
}
body .teststep_table tr {
  border-bottom: 1px solid #dcdcdc;
}
body .teststep_table tr:last-child {
  border-bottom: none;
}
body .teststep_table tr:hover {
  background-color: #e9f3fc;
}
body .teststep_table tr.active {
  background-color: #e9f3fc;
}
body .teststep_table td {
  padding: 10px 10px;
  font-size: 13px;
  font-weight: 400;
  color: #333238;
}
body .teststep_table td.note input {
  font-family: "Indie Flower";
  border: none;
  background: transparent;
  width: 100%;
}
body .teststep_table [description-tooltip] {
  position: relative;
  left: 10px;
  cursor: pointer;
  display: inline;
  background: black;
  color: white;
  font-size: 12px;
  border-radius: 1em;
  padding: 0 0.5em;
}
body .teststep_table [description-tooltip]:before {
  content: attr(description-tooltip);
  position: absolute;
  opacity: 0;
  /*  width: max-content;*/
  width: inherit;
  top: -5px;
  left: 105%;
  padding: 5px 10px;
  background-color: black;
  border-radius: 0.25em;
  color: white;
  text-align: center;
  font-style: italic;
  transition: 0.2s;
  z-index: -10;
}
body .teststep_table [description-tooltip]:hover:before {
  opacity: 1;
  z-index: 100;
}
body .teststep_table td:nth-child(1) {
  width: 10%;
  min-width: 160px;
  text-align: left;
}
body .teststep_table td:nth-child(2) {
  width: 30%;
  text-align: left;
  color: black;
}
body .teststep_table td:nth-child(3) {
  color: #626168;
}
body .teststep_table td:nth-child(4) {
  width: 20%;
}/*# sourceMappingURL=style.css.map */