body {
    font-family: sans-serif;
    font-size: 12px;
    


    button {
        border: none;
        color: white;
        padding: 3px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;

        &.button_ok {
            background-color: green;
        }
        &.button_fail {
            background-color: darkred;
        }
        &.button_ignore {
            background-color: bisque;
            color: black;
        }
    }

    .description {
        font-style: italic;
    }

    div.variables {
        background-color: lightgrey;
        width: 100%;
    }

    div.name {
        /*dd*/
    }

    .type {
        font-style: italic;
        color: grey;
    }

    .teststep_table {
        td {
            padding: 5px 10px;
            border-bottom: 1px solid lightgrey;
        }
        th {
            font-weight: bold;
        }
    }
    
}

